<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/images/logotipo.png"
      width="70"
      height="50"
      class="d-inline-block align-top"
      alt=""
    />
  </a>

  <div class="d-flex justify-content-center">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tarifas">Tarifas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clases">Clases</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/asistencia-clase">Asistencias</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/monitores">Monitores</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/actividades">Actividades</a>
      </li>
    </ul>
  </div>
</nav>
